.login {

    .page-container {
        
        overflow-y: hidden;
        
        .login-form-container {

            background-color: rgb(241, 245, 249);
            height: 100vh;
        
            .big-screen-logo {

                width: 22rem;
                margin-bottom: 4rem;

                & > img {

                    width: 100%;
                }
            }
        
            .form-field {
                
                margin-bottom: 3rem;

                &:nth-child(2) {
                    margin-bottom: 4rem;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {


    .login-form-card {

        background-color: transparent !important;
        box-shadow: unset !important;

        .big-screen-logo {

            width: 15rem !important;
        }
    }
}