.login {

    .page-container {
        
        overflow-y: hidden;
        
        .login-form-container {

            background-color: rgb(241, 245, 249);
            height: 100vh;
        
            .big-screen-logo {

                width: 18rem;
                margin-bottom: 1rem;

                & > img {

                    width: 100%;
                }
            }

            .login-form-paragraph {

                margin-bottom: 2rem;
                font-size: 1.5rem;
                font-weight: 500;
            }
        
            .form-field {
                margin-bottom: 3rem;
            }
        }
    }
}

@media screen and (max-width: 576px) {


    .login-form-card {

        background-color: transparent !important;
        box-shadow: unset !important;

        .big-screen-logo {

            width: 15rem !important;
        }
    }
}