.login {

    .page-container {
        
        overflow-y: hidden;
        
        .login-form-container {

            background-color: rgb(241, 245, 249);
            height: 100vh;
        
            .login-form-title {

                margin-bottom: 2rem;
                font-size: 2rem;
            }

            .login-form-paragraph {

                margin-bottom: 2rem;
                font-size: 1.5rem;
                font-weight: 500;
            }
        
            .form-field {
                margin-bottom: 3rem;
            }
        }
    }
}

@media screen and (max-width: 576px) {

    .login-form-container {

        background-color: white;

        .login-form-card {

            box-shadow: unset !important;
        }
    }
}