.surveyed-index {

    .header-card {
        margin-bottom: 3rem;

        .header-title {
            margin-bottom: 2rem;
            font-size: 2rem;
        }
    
        .header-paragraph {
            width: 75%;
            margin-bottom: 2rem;
            font-size: 1.25rem;
            font-weight: 500;
        }
    }

    .page-container {

        padding: 2rem;
        background-color: rgb(241, 245, 249);
    }
}