.ant-card-meta-title {
    white-space: unset !important;
    text-overflow: unset !important;
}

.ant-card-meta-title {
    font-size: 1.2rem !important;
    font-weight: bold;
}

.ant-input-number {
    width: 50% !important;
}
.card {
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
