.surveyed-form {

    .question-card {
        margin-bottom: 1.5rem;

        .question-title {
            font-size: 1rem;
        }

        .question-label {
            font-size: 1.25rem;
            font-weight: 500;
            padding-bottom: 0.75rem;
        }
    }

    .surveyed-form-submit {
        margin-top: 2rem;
    }
}

.no-question-view {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
